@import "Common.scss";

$primary_color_dark: #fa7555;
$primary_color_light: #fee9c4;
$secondry_color_light: #e9d8c8;

p
{
  padding: 0px;
  margin: 0px;
}

.IntroText {
  @include absolute($top:50%,$left:1vw,$z-index:26);
  max-width: 600px;
  transform: translateY(-50%);
  font-size: 4vw;
  font-weight: 800;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BlurCard {
  @include absolute($top:20px,$right:100px,$z-index:26);
  backdrop-filter: blur(20px); 
  z-index: 25;
  height: 93vh;
  width: 35vw;
  min-width: 300px;
  border-radius: 40px;
  box-shadow: $primary_color_dark 1px 1px 100px;
}

.UserDetails
{
  display: block;
  padding: 0px 0px 10px 0px;
}

.LoginBox
{
  margin: 0px 20px;
  display: block;
}

.UserLogInBtn
{
  @extend .PrimaryLightBtn;
  width: 90%;
  margin: 10px;  
  position: static;
}

.UserRegisterBtn
{
  @extend .PrimaryDarkBtn;
  width: 90%;
  margin: 10px;
  position: static;
}
