{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VendTune - Location</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var manhattan = {lat: 40.7831, lng: -73.9712};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: manhattan
            });
            var marker = new google.maps.Marker({
                position: manhattan,
                map: map
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/index/">Dashboard</a></li>
                <li><a href="/business/">My Business</a></li>
                <li><a href="/planning/">Planning</a></li>
                <li><a href="/location/">Location</a></li>
            </ul>
        </nav>
        <header>
            <h1>VendTune</h1>
            <input type="text" placeholder="Search">
            <div class="profile">
                <span>Foodie Finder Ltd.</span>
            </div>
        </header>
        <main>
            <section class="location">
                <h2>Location</h2>
                <div id="content">
        <div class="container left" id="sidebar">
          <div id="search-panel">
            <form id="search-form">
              <fieldset>
                <input type="search" placeholder="From..." id="start-location" name="start-location" required />
                <input type="search" placeholder="To..." id="end-location" name="end-location" required />
                <label for="departure-time"
                  >Departure Time:
                  <input type="datetime-local" id="departure-time" name="departure-time" required />
                  <small id="valid-helper"></small>
                </label>
              </fieldset>
              <button type="submit" id="search-button">Search</button>
              <span id="loader" aria-busy="true" style="display: none;">Generating routes...</span>
            </form>
          </div>
        </div>
                </div>
                <div id="map" style="height: 500px; width: 100%;"></div>
            </section>

        </main>

    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
